<div class="container-5">
    <div class="jumbotron text-center bg-primary text-white p-4 rounded mt-3">
        <h1 class="display-5">About this WebSite</h1>
        <p class="lead">Academy of Physics | Sanjeev Kumar</p>
    </div>
    
      <!-- Profile Section -->
    <div class="row mt-4">
        <div class="col-md-4 text-center">
          <img
            src="assets/Logo.png"
            alt="Tutor's Profile Picture"
            class="rounded-circle img-fluid shadow-lg"
            width="300"
          />
        </div>
        <div class="col-md-8 mt-3">   
          <h2 class="text-primary">General Physics</h2>
          <p class="text-muted">And a dash of Maths, Programming, Simulations</p>
          <p>
            This website is meant to be a collection of things I have long wanted to
            build, or built but never documented properly. <br/><br/>Orignally, this was meant to
            host an app which will dynamically gather questions from a database based on user input. This
            would be helpful is taking tests with randomly collected questions, since most questions papers
            are often becoming repetitive. It has many other uses, which I will discuss when I complete the app.
            <br/> This brings me to a pain point. It turned out that populating the database with questions
            and answers in LaTeX was no easy feat - its a time consuming and much lengthier process than expected.
            Still there is a glimmer of hope in form of automating the task. Six months hence, the 
            project is still undergoing changes. <br/><br/>
            An easier job was to create a repository of schools and fetching them dynamically from a server database. 
            <br/>Also, I plan on introducing a page on different physical simulations I had created over last few years. This
            gives me the opportunity to talk about how Physics concepts, ranging from Calculus in Kinematics to Interference of Waves
             become clearer once you learn to program/code.
          </p>
        </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 text-center">
        <img
          src="assets/Vector Addition.png"
          alt="Tutor's Profile Picture"
          class="rounded img-fluid shadow-lg"
          width="350"
        />
      </div>
      <div class="col-md-8 mt-3">   
        <h2 class="text-primary">About Me</h2>
        <p class="text-muted">Passionate about Learning | Student & Mentor </p>
        <p>
          Somewhere above or on the left, you would see a picture of two water jets
          from syringes merging into a single stream before breaking up into droplets.
          This is precisely the kind of thing that left me giggling as a child, and introduced 
          me to physics and general sciences. The picture is almost a good practical representation 
          of vector addition. As students keep learning, they discovers these practical applications
          of theory and gradually build/create stuff - sometimes new stuff - which can be a starting
          point of another discovery. <br/><br/>
          There is much more to Physics and Science than the mere facade of producing 
          top rankers for IITJEE or NEET.<br/> I have been mentoring students in undergradute physics for
          more than 13 years. This stems not from a desire to create IITians or ace the next competitve exam.
           Above all, I love Physics and Learning. My learning journey started from a childhood love of Physics
          and evolved to a more mature affection for Linear Algebra. It went on from the tech-savviness of Modern 
          Web Development to a deep respect for Computer Architecture.  
          <br/><br/> A student is always advised to keep learning, find joy in uncovering the machinations of natural and modern day
          world.
        </p>
      </div>
  </div>    
</div>